# ─────────────────────────────────────────
# POSTGRES
# ─────────────────────────────────────────
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=mypassword123
POSTGRES_DB=payment_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ─────────────────────────────────────────
# REDIS
# ─────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ─────────────────────────────────────────
# RABBITMQ
# ─────────────────────────────────────────
RABBITMQ_USER=payment_rabbit
RABBITMQ_PASSWORD=myrabbitpass123
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_URL=amqp://payment_rabbit:myrabbitpass123@localhost:5672