# dependencies
node_modules/

# build output
dist/

# environment variables (VERY IMPORTANT)
.env
.env.production      

auth-service/.env
payment-service/.env
# logs
*.log

# OS files
.DS_Store

#
coverage/