SERVICE_NAME=
PORT=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

REDIS_URL=
# development:  redis://localhost:6379
# production:   redis://:password@your-redis-host:6379/0
